* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

article {
    .item {
        .img {
            padding: .3rem;
        }

        .context {
            h5 {
                font-size: 1.5rem;
            }

            p {
                width: 21.4rem;
                display: flex;
                justify-content: space-between;

                span:nth-of-type(1) {
                    display: inline-block;
                    padding: .3rem;
                    color: green;
                    border: .1rem solid green;
                    border-radius: .2rem;
                }
            }
        }
    }
}