/* 清楚默认样式 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

html {
    font-size: 100px;
}

body {
    height: 6.67rem;
}

/* 头部 */
header {
    width: 100%;
    height: 40%;
    background: url(../image/index/banner.png) no-repeat;
    background-size: cover;
    padding: 0 .2rem;

    label {
        position: absolute;
        top: 2.1rem;
        display: inline-block;
        width: 90%;
        height: 0.4rem;
        border: .02rem solid #999;

        img {
            height: 100%;
            vertical-align: top;
        }

        input {
            width: 88%;
            height: 100%;
            vertical-align: top;
            border: none;
            outline: none;
        }
    }
}

/* 导航栏 */
nav {
    width: 100%;
    height: 20%;
    background-color: #ff8a00;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #fff;
    font-size: .12rem;
    text-align: center;

    a {
        img {
            display: block;
            width: 0.6rem;
            margin-bottom: .05rem;
        }
    }
}

/* 正文部分 */
article {
    width: 100%;

    img {
        width: 100%;
        height: 40%;
    }
}

/* 首页第二屏-热门，热门房源 */
.body2 {
    height: 6.67rem;
    font-size: .16rem;
    color: #fff;

    .header2 {
        width: 100%;
        height: 0.6rem;
        line-height: .6rem;
        background-color: #ff8a00;
        padding-left: 20px;
    }

    /* 第二屏正文部分 */
    .article {
        width: 100%;
        height: 5rem;
        display: flex;
        flex-direction: column;
        padding: 15px 20px;

        .item {
            width: 100%;
            border-bottom: .01rem solid #ff8a00;
            color: #333;
            display: flex;
            justify-content: space-between;
            align-items: center;

            &:nth-of-type(3) {
                border: none;
            }

            img {
                height: 85%;
            }

            .itemContent {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;

                p {
                    font-size: .12rem;

                    &:nth-of-type(2) {
                        width: 1.4rem;
                        display: flex;
                        justify-content: space-between;
                    }
                }

                span {
                    background-color: #c8daef;
                }
            }
        }

    }

    /* 热门关注 */
    .hot {
        color: #666;
        width: 100%;
        // height: 0.9rem;
        flex: 1;
        font-size: .28rem;

        .hotHeader {
            height: 0.5rem;
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            .followers {
                color: #ff8a00;
            }
        }

        ul {
            li {
                font-size: .14rem;
                font-weight: lighter;
            }
        }
    }

}