@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

html {
  font-size: 10px;
}

html body {
  background-color: #F5F5F5;
  min-width: 375px;
  /* 头部 */
  /* 搜索框 */
  /* 导航栏 */
  /* 背景板 */
  /* 导航栏下拉信息 */
  /* 头部和底部 */
}

html body header {
  height: 3rem;
  background-color: #fff;
  border-bottom: .1rem solid #999;
  display: flex;
  align-items: center;
  padding-left: 1.8rem;
}

html body header span:nth-of-type(1) {
  font-weight: 600;
}

html body .search {
  margin: 1rem auto 0;
  width: 90%;
  height: 4rem;
  border: 1px solid #999;
  border-radius: .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 4rem;
  background: url(../image/SecondHandList/search_03.png) no-repeat 30rem center;
  background-size: 2rem;
  background-color: #fff;
}

html body .search input {
  width: 90%;
  border: none;
  border-right: .2rem solid #222;
  outline: none;
}

html body nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  z-index: 3;
}

html body nav > .list {
  width: 90%;
  font-size: 2rem;
  font-weight: 900;
  display: flex;
}

html body nav > .list > li {
  width: 25%;
  height: 5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: gray;
}

html body nav > .list > li > span {
  border-top: 0.5rem solid #b1b1b1;
  border-left: .5rem solid transparent;
  border-right: .5rem solid transparent;
  border-bottom: .5rem solid transparent;
}

html body nav > .list > .active {
  color: #ff8a00;
}

html body nav > .list > .active > span {
  border-top: none;
  border-left: .5rem solid transparent;
  border-right: .5rem solid transparent;
  border-bottom: .5rem solid #ff8a00;
}

html body nav > .someList {
  width: 100%;
}

html body nav > .someList > li {
  display: none;
  width: 100%;
  background-color: #F5F5F5;
}

html body nav > .someList > li:nth-of-type(1) > div {
  width: 20%;
  display: flex;
  flex-direction: column;
}

html body nav > .someList > li:nth-of-type(1) > div > span {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  font-weight: 900;
}

html body nav > .someList > li:nth-of-type(1) > div > span:nth-of-type(1) {
  color: #ff8a00;
  background-color: #fff;
}

html body nav > .someList > li:nth-of-type(1) > ul {
  display: flex;
  flex: 1;
  background-color: #fff;
  flex-wrap: wrap;
}

html body nav > .someList > li:nth-of-type(1) > ul > li {
  width: 50%;
  display: flex;
  justify-content: center;
  height: 3.6rem;
  font-size: 1.4rem;
}

html body nav > .someList > li:nth-of-type(2) {
  justify-content: center;
  background-color: #fff;
}

html body nav > .someList > li:nth-of-type(2) > ul {
  width: 90%;
}

html body nav > .someList > li:nth-of-type(2) > ul > li {
  color: gray;
  border-bottom: .1rem solid gray;
  line-height: 4.5rem;
  font-size: 1.4rem;
}

html body nav > .someList > li:nth-of-type(2) > ul > li:last-of-type {
  border: none;
}

html body nav > .someList > li:nth-of-type(3) {
  background-color: #fff;
  justify-content: center;
  padding-bottom: 2rem;
}

html body nav > .someList > li:nth-of-type(3) > ul {
  width: 90%;
}

html body nav > .someList > li:nth-of-type(3) > ul > li {
  display: flex;
  height: 4.5rem;
  justify-content: space-between;
  border-bottom: .1rem solid gray;
  align-items: center;
}

html body nav > .someList > li:nth-of-type(3) > ul > li > span {
  width: 1.5rem;
  height: 1.5rem;
  border: .1rem solid gray;
}

html body nav > .someList > li:nth-of-type(3) > ul > li > span > img {
  width: 100%;
  height: 100%;
}

html body nav > .someList > li:nth-of-type(3) > ul > li > button {
  width: 100%;
  height: 100%;
  background-color: #ff8a00;
  border: none;
  outline: none;
  color: white;
  font-weight: 600;
}

html body nav > .someList > li:nth-of-type(3) > ul > li:last-of-type,
html body nav > .someList > li:nth-of-type(3) > ul > li:nth-of-type(6) {
  border: none;
}

html body nav > .someList > li:nth-of-type(4) {
  background-color: #fff;
  justify-content: center;
}

html body nav > .someList > li:nth-of-type(4) > ul {
  width: 90%;
}

html body nav > .someList > li:nth-of-type(4) > ul > li {
  border-bottom: 1px solid #bdbdbd;
  padding-bottom: 1rem;
}

html body nav > .someList > li:nth-of-type(4) > ul > li > h3 {
  font-weight: 900;
  font-size: 1.6rem;
  line-height: 4rem;
  padding-top: .8rem;
}

html body nav > .someList > li:nth-of-type(4) > ul > li > ul {
  display: flex;
  flex-wrap: wrap;
}

html body nav > .someList > li:nth-of-type(4) > ul > li > ul > li {
  width: 22%;
  line-height: 3rem;
  font-size: 1.2rem;
  text-align: center;
  border: 1px solid #bebebe;
  margin: 0 .8rem 1.5rem 0;
}

html body nav > .someList > li:nth-of-type(4) > ul > li:last-of-type {
  border: none;
}

html body nav > .someList > .active {
  display: flex;
}

html body > .mask {
  display: none;
  background-color: gray;
  opacity: .5;
  z-index: 2;
}

html body .out {
  width: 100%;
  height: 100%;
  background-color: rgba(7, 7, 7, 0.5);
}

html body .out .navMessage {
  width: 100%;
  height: 40rem;
  position: fixed;
  top: 0;
  background-color: #fff;
}

html body article {
  padding: 0 1.8rem;
}

html body article .item {
  display: flex;
  border-bottom: .1rem solid #FF8A00;
  padding: 2rem 0;
}

html body article .item:nth-of-type(3) {
  border: none;
}

html body article .item img {
  width: 10rem;
}

html body article .item .context {
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

html body article .item .context p:nth-of-type(2),
html body article .item .context p:nth-of-type(3) {
  color: #999;
}

html body article .item .context p:nth-of-type(2) span:nth-of-type(2),
html body article .item .context p:nth-of-type(3) span:nth-of-type(2) {
  color: #FF8A00;
  font-weight: 600;
}

html body iframe {
  height: 5rem;
}

html body iframe:nth-of-type(2) {
  height: 20rem;
}
