* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

html {
    font-size: 10px;

    body {
        background-color: #F5F5F5;
        min-width: 375px;

        /* 头部 */
        header {
            height: 3rem;
            background-color: #fff;
            border-bottom: .1rem solid #999;
            display: flex;
            align-items: center;
            padding-left: 1.8rem;

            span:nth-of-type(1) {
                font-weight: 600;
            }
        }

        /* 搜索框 */
        .search {
            margin: 1rem auto 0;
            width: 90%;
            height: 4rem;
            border: 1px solid #999;
            border-radius: .5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-right: 4rem;
            background: url(../image/SecondHandList/search_03.png) no-repeat 30rem center;
            background-size: 2rem;
            background-color: #fff;

            input {
                width: 90%;
                border: none;
                border-right: .2rem solid #222;
                outline: none;
            }
        }

        /* 导航栏 */
        nav {
            margin: 1rem auto 0;
            width: 100%;
            height: 5rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: #fff;
            z-index: 3;
            border-top: .2rem solid #E0E0E0;
            border-bottom: .2rem solid #E0E0E0;

            >.list {
                width: 90%;
                font-size: 2rem;
                font-weight: 900;
                display: flex;

                >li {
                    width: 25%;
                    height: 5rem;
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    color: gray;

                    >span {
                        border-top: .5rem solid rgb(177, 177, 177);
                        border-left: .5rem solid transparent;
                        border-right: .5rem solid transparent;
                        border-bottom: .5rem solid transparent;
                    }
                }

                >.active {
                    color: #ff8a00;


                    >span {
                        border-top: none;
                        border-left: .5rem solid transparent;
                        border-right: .5rem solid transparent;
                        border-bottom: .5rem solid #ff8a00;
                    }
                }
            }

            >.someList {
                width: 100%;

                >li {
                    display: none;
                    width: 100%;
                    background-color: #F5F5F5;
                }

                >li:nth-of-type(1) {
                    >div {
                        width: 20%;
                        display: flex;
                        flex-direction: column;

                        >span {
                            font-size: 2rem;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            height: 4rem;
                            font-weight: 900;
                        }

                        >span:nth-of-type(1) {
                            color: #ff8a00;
                            background-color: #fff;
                        }
                    }

                    >ul {
                        display: flex;
                        flex: 1;
                        background-color: #fff;
                        flex-wrap: wrap;

                        >li {
                            width: 50%;
                            display: flex;
                            justify-content: center;
                            height: 3.6rem;
                            font-size: 1.4rem;
                        }
                    }
                }

                >li:nth-of-type(2) {
                    justify-content: center;
                    background-color: #fff;

                    >ul {
                        width: 90%;

                        >li {
                            color: gray;
                            border-bottom: .1rem solid gray;
                            line-height: 4.5rem;
                            font-size: 1.4rem;
                        }

                        >li:last-of-type {
                            border: none;
                        }
                    }
                }

                >li:nth-of-type(3) {
                    background-color: #fff;
                    justify-content: center;
                    padding-bottom: 2rem;

                    >ul {
                        width: 90%;

                        >li {
                            display: flex;
                            height: 4.5rem;
                            justify-content: space-between;
                            border-bottom: .1rem solid gray;
                            align-items: center;

                            >span {
                                width: 1.5rem;
                                height: 1.5rem;
                                border: .1rem solid gray;

                                >img {
                                    width: 100%;
                                    height: 100%;
                                }
                            }

                            >button {
                                width: 100%;
                                height: 100%;
                                background-color: #ff8a00;
                                border: none;
                                outline: none;
                                color: white;
                                font-weight: 600;
                            }
                        }

                        >li:last-of-type,
                        >li:nth-of-type(6) {
                            border: none;
                        }
                    }
                }

                >li:nth-of-type(4) {
                    background-color: #fff;
                    justify-content: center;

                    >ul {
                        width: 90%;


                        >li {
                            border-bottom: 1px solid rgb(189, 189, 189);
                            padding-bottom: 1rem;

                            >h3 {
                                font-weight: 900;
                                font-size: 1.6rem;
                                line-height: 4rem;
                                padding-top: .8rem;
                            }

                            >ul {
                                display: flex;
                                flex-wrap: wrap;

                                >li {
                                    width: 22%;
                                    line-height: 3rem;
                                    font-size: 1.2rem;
                                    text-align: center;
                                    border: 1px solid rgb(190, 190, 190);
                                    margin: 0 .8rem 1.5rem 0;
                                }
                            }
                        }

                        >li:last-of-type {
                            border: none;
                        }
                    }
                }

                >.active {
                    display: flex;
                }
            }
        }

        /* 背景板 */
        >.mask {
            display: none;
            background-color: gray;
            opacity: .5;
            z-index: 2;
        }

        /* 导航栏下拉信息 */
        .out {
            width: 100%;
            height: 100%;
            background-color: rgba(7, 7, 7, .5);

            .navMessage {
                width: 100%;
                height: 40rem;
                position: fixed;
                top: 0;
                background-color: #fff;
            }
        }

        article {
            padding: 0 1.8rem;

            .item {
                display: flex;
                border-bottom: .1rem solid #FF8A00;
                padding: 2rem 0;

                &:nth-of-type(3) {
                    border: none;
                }

                img {
                    width: 10rem;
                }

                .context {
                    margin-left: 2rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    p:nth-of-type(2),
                    p:nth-of-type(3) {
                        color: #999;

                        span:nth-of-type(2) {
                            color: #FF8A00;
                            font-weight: 600;
                        }
                    }
                }
            }
        }

        /* 头部和底部 */
        iframe {
            height: 5rem;

            &:nth-of-type(2) {
                height: 20rem;
            }
        }
    }
}