* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    color: gray;
    text-decoration: none;
}

html,
body {
    background-color: #F5F5F5;

    .content {
        min-width: 375px;

        /* 头部 */
        header {
            width: 100%;
            background-color: #ff8a00;
            height: 6.8rem;
            display: flex;
            justify-content: space-around;
            position: fixed;
            top: 0;
            z-index: 11;

            >.logo {
                width: 45%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                >a {
                    height: 4.5rem;

                    >img {
                        height: 100%;
                    }
                }
            }

            >.header_right {
                width: 45%;
                display: flex;
                height: 100%;
                justify-content: flex-end;

                >div {
                    height: 100%;
                    display: flex;
                    align-items: center;
                    width: 5rem;

                    >a {
                        height: 4rem;

                        >img {
                            height: 100%;
                        }
                    }
                }
            }
        }

        /* 占位盒子 */
        .headerBox {
            height: 6.8rem;
            opacity: 0;
        }

        /* 搜索框 */
        .searchBox {
            width: 100%;
            background: url(../image/index/banner.png) no-repeat;
            background-size: cover;
            height: 26rem;
            position: relative;

            >.inp {
                width: 88%;
                position: absolute;
                bottom: 2rem;
                left: 50%;
                transform: translateX(-50%);
                height: 3rem;

                >input {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    text-indent: 2.8rem;
                    background: url(../image/index/seach.jpg) no-repeat .5rem center;
                    background-size: 2rem;
                    background-color: #FEFEFE;
                    outline: none;
                    border-radius: 8px;
                    font-size: 1.6rem;
                }

            }
        }

        /* 导航栏 */
        nav {
            width: 100%;
            background-color: #ff8a00;
            height: 12rem;

            >ul {
                height: 100%;
                width: 100%;
                display: flex;
                justify-content: space-around;
                align-items: center;

                >li {
                    width: 18%;
                    height: 80%;

                    >a {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
                        align-items: center;

                        >img {
                            width: 90%;
                        }

                        >p {
                            color: white;
                            font-size: 1.4rem;
                        }
                    }
                }
            }
        }

        /* 背景大图 */
        .bgc_img {
            width: 100%;
            padding: 1rem 0 1.5rem;

            >img {
                width: 100%;
            }
        }

        /* 正文 */
        article {
            background-color: #fff;

            >.headline {
                background-color: #ff8a00;
                color: white;
                display: flex;
                flex-direction: column;
                height: 6rem;
                justify-content: center;
                padding-left: 2rem;

                >h2 {
                    font-size: 2rem;
                }

                >p {
                    font-size: 1.4rem;
                }
            }

            ul {
                padding: 0 2rem;

                >li {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    height: 15rem;
                    border-bottom: .2rem solid #ff8a00;

                    >.img_box {
                        width: 30%;

                        >img {
                            width: 100%;
                        }
                    }

                    >.text_box {
                        width: 60%;

                        >h2 {
                            font-size: 1.9rem;
                            line-height: 2.8rem;
                        }

                        >p:nth-of-type(1),
                        >p:nth-of-type(2) {
                            display: flex;
                            justify-content: space-between;
                            line-height: 2.8rem;
                        }

                        >p:nth-of-type(1) {
                            >span:nth-of-type(2) {
                                color: #ff8a00;
                            }
                        }

                        >p:nth-of-type(2) {
                            >span {
                                color: rgb(177, 177, 177);
                            }
                        }

                        >p:nth-of-type(3) {
                            height: 2.4rem;
                            display: flex;

                            >span {
                                display: inline-block;
                                background-color: #e1f4ff;
                                color: #869CAF;
                                padding: .5rem .8rem;
                                margin-right: .5rem;
                            }
                        }
                    }
                }

                >li:last-of-type {
                    border: none;
                }
            }
        }

        /* 热门关注 */
        .hot {
            width: 100%;
            margin-top: 1rem;
            background-color: #fff;

            >div {
                width: 100%;
                display: flex;
                border-bottom: .1rem solid #ff8a00;

                >div {
                    width: 50%;
                    text-align: center;
                    line-height: 4.5rem;
                    font-size: 1.6rem;
                    font-weight: 400;
                }

                >div:nth-of-type(1) {
                    color: #ff8a00;
                    border-bottom: .1rem solid #ff8a00;
                }
            }

            >ul {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                padding: .8rem 0;

                >li {
                    width: 40%;
                    line-height: 2.5rem;
                    font-size: 1.2rem;
                }
            }
        }

        /* 底部占位盒子 */
        .footerBox {
            height: 16.4rem;
        }

        /* 底部 */
        footer {
            position: fixed;
            bottom: 0;
            width: 100%;
            background-color: #2f3130;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-bottom: .8rem;

            >h3 {
                width: 90%;
                line-height: 3.5rem;
                color: gray;
                border-bottom: .1rem solid gray;
            }

            >div {
                width: 90%;
                display: flex;
                flex-direction: column;
                color: gray;


                >div {
                    display: flex;
                    height: 8rem;

                    >div {
                        width: 50%;
                        display: flex;
                        align-items: center;

                        >img {
                            transform: scale(.4);
                        }
                    }
                }

                >p,
                >span {
                    text-align: center;
                    line-height: 2rem;
                }
            }
        }

        /* 下载广告 */
        .advertising {
            width: 100%;
            position: fixed;
            bottom: 0;
            display: flex;
            height: 4.5rem;

            >div:nth-of-type(1),
            >div:nth-of-type(2) {
                background-color: rgba(0, 0, 0, .7);
            }

            >div:nth-of-type(1) {
                width: 5%;

                >img {
                    width: 1.5rem;
                }
            }

            >div:nth-of-type(2) {
                width: 55%;
                display: flex;
                color: white;
                align-items: center;
                justify-content: space-evenly;

                >img {
                    transform: scale(.5);
                }

                >div {
                    >p {
                        font-size: 1.6rem;
                    }
                }
            }

            >div:nth-of-type(3) {
                width: 40%;
                background-color: #ff8a00;

                >a {
                    display: block;
                    width: 100%;
                    text-align: center;
                    line-height: 4.5rem;
                    font-size: 1.6rem;
                    color: white;
                }
            }
        }
    }
}