@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  color: gray;
  text-decoration: none;
}

html,
body {
  background-color: #F5F5F5;
}

html main,
body main {
  width: 100%;
  min-width: 375px;
  /* 头部 */
  /* 路径、当前位置 */
}

html main > header,
body main > header {
  width: 100%;
  background-color: #ff8a00;
  height: 6.8rem;
  display: flex;
  justify-content: space-around;
}

html main > header > .logo,
body main > header > .logo {
  width: 45%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

html main > header > .logo > a,
body main > header > .logo > a {
  height: 4.5rem;
}

html main > header > .logo > a > img,
body main > header > .logo > a > img {
  height: 100%;
}

html main > header > .header_right,
body main > header > .header_right {
  width: 45%;
  display: flex;
  height: 100%;
  justify-content: flex-end;
}

html main > header > .header_right > div,
body main > header > .header_right > div {
  height: 100%;
  display: flex;
  align-items: center;
  width: 5rem;
}

html main > header > .header_right > div > a,
body main > header > .header_right > div > a {
  height: 4rem;
}

html main > header > .header_right > div > a > img,
body main > header > .header_right > div > a > img {
  height: 100%;
}

html main > .location,
body main > .location {
  background-color: #fff;
  height: 4rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 0.15rem solid #cdcdcd;
}

html main > .location > p,
body main > .location > p {
  width: 90%;
  font-size: 1.6rem;
}

html main > article,
body main > article {
  width: 100%;
  background-color: #fff;
}

html main > article > div,
body main > article > div {
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 0.1rem solid #c7c7c7;
}

html main > article > div > input,
body main > article > div > input {
  width: 92%;
  border: none;
  outline: none;
}

html main > article > div > button,
body main > article > div > button {
  width: 27%;
  background-color: transparent;
  outline: none;
  border: 0.1rem solid rgba(192, 192, 192, 0.8);
  color: gray;
  height: 80%;
}

html main > article > div:nth-of-type(1) > input,
body main > article > div:nth-of-type(1) > input {
  width: 65%;
}

html main > .registBox,
body main > .registBox {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 8rem;
}

html main > .registBox > button,
body main > .registBox > button {
  width: 94%;
  color: white;
  background-color: #FF8A00;
  border: none;
  outline: none;
  height: 4.5rem;
  font-size: 1.8rem;
}
