* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    color: gray;
    text-decoration: none;
}

html,
body {
    background-color: #F5F5F5;

    >main {
        width: 100%;
        min-width: 375px;

        /* 头部 */
        >header {
            width: 100%;
            background-color: #ff8a00;
            height: 6.8rem;
            display: flex;
            justify-content: space-around;

            >.logo {
                width: 45%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                >a {
                    height: 4.5rem;

                    >img {
                        height: 100%;
                    }
                }
            }

            >.header_right {
                width: 45%;
                display: flex;
                height: 100%;
                justify-content: flex-end;

                >div {
                    height: 100%;
                    display: flex;
                    align-items: center;
                    width: 5rem;

                    >a {
                        height: 4rem;

                        >img {
                            height: 100%;
                        }
                    }
                }
            }
        }

        /* 路径、当前位置 */
        >.location {
            background-color: #fff;
            height: 4rem;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            border-bottom: .15rem solid rgb(205, 205, 205);

            >p {
                width: 90%;
                font-size: 1.6rem;
            }
        }

        /* 表单 */
        >article {
            width: 100%;
            background-color: #fff;

            >div {
                height: 4rem;
                display: flex;
                align-items: center;
                justify-content: center;
                border-bottom: 0.1rem solid #c7c7c7;

                >input {
                    width: 92%;
                    border: none;
                    outline: none;
                }
            }

            >div:nth-of-type(1) {
                >input {
                    width: 65%;
                }

                >button {
                    width: 27%;
                    height: 80%;
                    background-color: transparent;
                    outline: none;
                    border: 0.1rem solid rgba(192, 192, 192, 0.8);
                    color: gray;
                }
            }
        }

        >.submitBox {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 8rem;

            >button {
                width: 94%;
                color: white;
                background-color: #FF8A00;
                border: none;
                outline: none;
                height: 4.5rem;
                font-size: 1.8rem;
            }
        }
    }
}